$tablet-width: 1023px;
$mobile-width: 767px;

$body-background-1: #808080;
$body-background-2: #dda0dd;
$body-background-3: #849d8f;
$body-background-4: #ff7f50;
$text: #484848;
$text-dark: #222222;
$gray-light-1: #b3b3b3;
$gray-light-2: #727272;
$gray-basic: #6d6d6d;
$gray-dark-1: #636363;
$gray-dark-2: #414141;
$red-light: #ff683e;
$red-basic: #e74a35;
$red-dark: #bb3826;
$green: #3cb371;
$green-light: #4fd68c;
$blue: #a5c5eb;
$white: #ffffff;
$black: #000000;
