$tablet-width: 1023px;
$mobile-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$white: #ffffff;
$black: #000000;
$background-basic: #0099ef;
$background-sky: #004460;
$text-main: #004460;
$lite-blue: #eefafe;
$active: #20afff;
$decor-1: #ebebeb;
$decor-2: #eff0f1;
$decor-3: #f1f2f4;
$btn-hover: #ffba40;
